.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 15vh;
    bottom: 15vh;
    padding: 0 100px 0 100px;
    z-index: -1;
    border-bottom: yellow dashed;
    border-top: yellow dashed;
    @media(max-width: 640px)
    {
        top: 10vh;
        bottom: 10vh;
        padding: 0;
    }
}