.wrapper
{
    display: block;
    text-align: justify;
    position: relative;
    margin: 0 auto;
    width: -webkit-calc(100% - 200px);
    width:    -moz-calc(100% - 200px);
    width:         calc(100% - 200px);
    max-width: 1000px;
    border-bottom: yellow dashed;
    border-top: yellow dashed;
    @media(max-width: 640px)
    {
        width: 100%;
        top: 10vh;
        height: 100vh;
        overflow: scroll;
    }
}