@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

#editor-container {
    font-family: Arial, sans-serif;
  }
// Default font
::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-label::before, ::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: 'Arial';
    font-family: Arial, sans-serif;
}
// 

// ::ng-deep.ql-font-arial {
//   font-family: 'Arial', sans-serif;
// }
// ::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=arial]::before,
// ::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=arial]::before {
//     content: 'Arial';
//     font-family: 'Arial', sans-serif;
// }

::ng-deep.ql-font-sofia {
  font-family: 'Sofia', sans-serif;
}
::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sofia]::before,
::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sofia]::before {
    content: 'Sofia';
    font-family: 'Sofia', sans-serif;
}

::ng-deep.ql-font-indie_flower {
    font-family: 'Indie Flower', sans-serif;
  }
::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=indie_flower]::before,
::ng-deep.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=indie_flower]::before {
    content: 'Indie Flower';
    font-family: 'Indie Flower', cursive;
}