.editMenu
{
    // border: navajowhite dashed;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: -50%;
    left: 110%;
    width: max-content;
    @media (max-width:640px)
    {
        left:53px;
    }
    
    img
    {
        display: inline-block;
        width: 15px;
        vertical-align: top;
    }
    .fullEditMenu
    {
        display: inline-block;
        text-align: left;
        .iconSearchbar
        {
            display: block;
            width: 131px;
            height: 22px;
            border: 0 none;
            padding-left: 8px;
            padding-right: 6px;
        }
        ul.iconSearchResults
        {
            width: 131px;
            z-index: 2;
            position: absolute;
            background-color: white;  
            li
            {
                width: 100%;
                background: white;
                border-bottom: 1px solid #ccc;
                white-space: nowrap;
                text-decoration: none;
                color: #000;
                -webkit-transition: background-color 0.3s ease;
                -moz-transition: background-color 0.3s ease;
                -o-transition: background-color 0.3s ease;
                -ms-transition: background-color 0.3s ease;
                transition: background-color 0.3s ease;
                .listWrapper
                {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    i
                    {
                        display: inline-block;
                        font-size: 0.8em;
                        padding: 0 6px;
                    }
                    .nickname
                    {
                        display: inline-flex;
                        font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
                }

            }

            li:last-child 
            {
                border: none;
            }

            li:hover
            {
                background: #f6f6f6;
                cursor: default;
            }              
            
        }
        .colorpicker
        {
            display: inline-block;
            border-width: 1px;
            width: 15px; 
            height: 15px;
        }
        .labelInput
        {
            display: inline-block;
            width: 109px;
            height: 17px;
            border: 0 none;
            padding: 6px 15px 6px 9px;
            transition: all 0.35s;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .redBorder
        {
            box-shadow: inset 0 0 4px red;
        }
        .errorMessage
        {
            position: absolute;
            margin: 4px 0 0 0;
        }
    }
}

input
{
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0,0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0,0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0,0.2) inset;
}

input:focus {
    outline-width: 0;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

::ng-deep .arrow-bottom, ::ng-deep .arrow-top
{
    visibility: hidden;
}

::ng-deep .color-picker
{
    top: unset !important;
    touch-action: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.9em;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.9em;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.9em;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.9em;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }