$nav-bg: #2b3033;

.nav__link:hover .icon 
{
    font-size: 1.6em;
    transition: 0.1s ease-in-out;
}

.nav__link
{
    @media (max-width: 640px) {
        background : rgba(41, 41, 41, 0.6);
    }
}