.wrapper
{
    display: inline-block;
    position: relative;
    width: 23px;
    text-align: center;
}

.icon
{
    position: relative;
    @media (max-width: 640px) {
        color: white;
    }
}

ul 
{
    width: 100px;
    position : absolute;
    padding: 0;
    margin: 0;
    left: -34.5px;
    list-style: none;
    @media (max-width: 640px) {
        top: 100%;
    }
}

li
{
    text-align: center;
    background-color: white;
    font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 5px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:last-child 
{
    border: none;
}

li:hover
{
    font-size: 15px;
    background: #f6f6f6;
    cursor: pointer;
}