.wrapper
{
    display: inline-block;
}

.icon
{
    @media (max-width: 640px) {
        color: white;
    }
}

.searchbar
{
    position: relative;
    bottom: 6px;
    border: 0 none;
    width: 150px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

input.searchbar:focus {
    outline-width: 0;
}