@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

.wrapper
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon
{
    @media (max-width: 640px) {
        color: white;
    }
}

.searchbar-open
{
    border: 0 none;
    width: 150px;
    padding: 6px 15px 6px 15px;
    transition: all 0.35s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.searchbar-closed
{
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    &:hover
    {
        cursor: default;
    }
}

input.searchbar-open:focus {
    outline-width: 0;
}

ul
{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 100%;

    @media(max-width: 640px)
    {
        right: -7vw;
        width: 100vw;
    }

}

li
{
    font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
    height: 40px;
    background: white;
    border-bottom: 1px solid #ccc;
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;

    @media (max-width: 640px)
    {
        width: 100%;
    }

    .wrapper
    {
        .image
        {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0 15px 0 15px;
    
            img
            {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                transition: all 0.3s ease;
            }
        }
    
        .name
        {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

    }

}

li:last-child 
{
    border: none;
}

li:hover
{
    @media(min-width: 640px)
    {
        font-size: 20px;
        background: #f6f6f6;
        cursor: pointer;
        .rounded-pic
        {
            width: 40px;
            height: 40px;
        }
        .content
        {
            overflow: scroll;
            text-overflow: unset;
        }
    }

    @media (max-width: 640px)
    {
        background: #f6f6f6;
        cursor: pointer;
        color: rgb(0, 171, 228);
    }
}


.content
{

}