$nav-bg: #2b3033;

.nav__link:hover .icon 
{
    @media (min-width: 640px) {
        font-size: 1.6em;
        transition: 0.1s ease-in-out;
    }
}

.nav__link
{
    @media (max-width: 640px) {
        background : rgba(41, 41, 41, 0.6);
    }
}

.wrapper
{
    position: relative;
    // border: red dashed;
    width: 30px;
    text-align: center;

    .icon_wrapper
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .editMenu
    {
        // border: navajowhite dashed;
        display: inline-block;
        position: absolute;
        z-index: 2;
        top: -50%;
        left: 110%;
        width: max-content;
        
        img
        {
            display: inline-block;
            width: 15px;
            vertical-align: top;
        }
        .editOptions
        {
            display: inline-block;
            text-align: left;
            input
            {
                display: block;
            }
            .colorpicker
            {
                display: inline-block;
                width: 15px; 
                height: 15px;
            }
        }
    }
}

::ng-deep .arrow-bottom, ::ng-deep .arrow-top
{
    visibility: hidden;
}

::ng-deep .color-picker
{
    top: unset !important;
}