$nav-bg: #2b3033;

.nav__link:hover i
{
    // can't decide if i want hover or not
    // @media (min-width: 640px) {
    //     font-size: 1.6em;
    //     transition: 0.2s ease-in-out;
    // }
}

.nav__link
{
    @media (max-width: 640px) {
        background : rgba(41, 41, 41, 0.6);
    }
}

.wrapper
{
    position: relative;
    // border: red dashed;
    width: 30px;
    text-align: center;

    .icon_wrapper
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .editMenu
    {
        // border: navajowhite dashed;
        display: inline-block;
        position: absolute;
        z-index: 2;
        top: -50%;
        left: 110%;
        width: max-content;
        
        img
        {
            display: inline-block;
            width: 15px;
            vertical-align: top;
        }
        .editExtraOptions
        {
            display: inline-block;
            text-align: left;
            .iconSearchbar
            {
                display: block;
                height: 22px;
                border: 0 none;
                padding-left: 8px;
            }
            ul.iconSearchResults
            {
                width: 134px;
                z-index: 2;
                position: absolute;
                background-color: white;  
                li
                {
                    width: 100%;
                    background: white;
                    border-bottom: 1px solid #ccc;
                    overflow: scroll;
                    white-space: nowrap;
                    text-decoration: none;
                    color: #000;
                    -webkit-transition: background-color 0.3s ease;
                    -moz-transition: background-color 0.3s ease;
                    -o-transition: background-color 0.3s ease;
                    -ms-transition: background-color 0.3s ease;
                    transition: background-color 0.3s ease;
                    .listWrapper
                    {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        i
                        {
                            display: inline-block;
                            font-size: 0.8em;
                            padding: 0 6px;
                        }
                        .nickname
                        {
                            display: inline-flex;
                            font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }

                }

                li:last-child 
                {
                    border: none;
                }

                li:hover
                {
                    background: #f6f6f6;
                    cursor: pointer;
                }              
                
            }
            .colorpicker
            {
                display: inline-block;
                width: 15px; 
                height: 15px;
            }
            .tooltipInput
            {
                display: inline-block;
                width: 109px;
                height: 17px;
                border: 0 none;
                padding: 6px 15px 6px 9px;
                transition: all 0.35s;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            }
        }
    }
}

input:focus {
    outline-width: 0;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

::ng-deep .arrow-bottom, ::ng-deep .arrow-top
{
    visibility: hidden;
}

::ng-deep .color-picker
{
    top: unset !important;
}