$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$nav-bg: #2b3033;
.wrapper
{
    position: absolute;
    width : 100vw;
    max-width: 1500px;
    height: 15vh;
    @media(min-width: 640px)
    {
      max-height: 100px;
    }
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
    transition: $ease;

    @media (max-width: 640px) {
        position: fixed;
        z-index: 2;
        height: 10vh;
        background : $nav-bg;
    }
}

.right
{
    position: fixed;
    right: 23px;
    float: right;
    z-index: 2;
    height: 15vh;
    @media(min-width: 640px)
    {
      max-height: 100px;
    }

    @media (max-width: 640px) {
        height: 10vh;
    }
    
    @media (max-width: 319px), (max-height: 320px){
        display: none;
    }
}

facet-menu
{
    position: inherit;
}