$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$nav-bg: #2b3033;
.wrapper
{
    position: fixed;
    width : 100vw;
    height: 15vh;
    top: 0;
    left: 0;
    transition: $ease;

    @media (max-width: 640px) {
        position: fixed;
        height: 10vh;
        background : $nav-bg;
    }
}

.right
{
    position: relative;
    right: 23px;
    float: right;
    height: 100%;
    
    @media (max-width: 319px), (max-height: 320px){
        display: none;
    }
}