$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$nav-bg: #2b3033;
.wrapper
{
    position: absolute;
    width : 100vw;
    max-width: 1500px;
    height: 15vh;
    @media(min-width: 640px)
    {
      max-height: 100px;
    }
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
    transition: $ease;

    @media (max-width: 640px) {
        position: fixed;
        z-index: 2;
        height: 10vh;
        background : $nav-bg;
    }
}

.right
{
    position: fixed;
    right: 23px;
    float: right;
    z-index: 2;
    height: 15vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    @media(min-width: 640px)
    {
      max-height: 100px;
    }

    @media (max-width: 640px) {
        height: 10vh;
        color: white !important;
    }
    
    @media (max-width: 319px), (max-height: 320px){
        display: none;
    }

    .colorpicker
    {
        display: inline-block;
        z-index: 0;
        vertical-align: super;
        border-width: 1px;
        width: 15px; 
        height: 15px;
        background-color: black;
        border-style: groove;
        outline: none;
        &:hover
        {
            cursor: pointer;
        }
    }
}

facet-menu
{
    position: inherit;
}