.wrapper
{
    position: relative;

    img
    {
        width: 30vw;
        height: 30vw;
        max-width: 250px;
        max-height: 250px;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        border-style: groove;
        border-color:pink;
    }

    .editIconProfPic
    {
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        &:hover
        {
            cursor: pointer;
        }
    }

    .editIconBackground
    {
        color: white;
        position: absolute;
        top: 0;
        right: -50%;
        @media (max-width: 300px)
        {
            display: none;
        }
        &:hover
        {
            cursor: pointer;
        }
    }

    .icon
    {
        font-size: 13.44px;
        line-height: 25px;
        left: 1px;
    }
    .icon-background
    {
        color: #2b3033;
        font-size: 28.8px
    }

}
