.wrapper
{
    position: relative;

    img
    {
        width: 30vw;
        height: 30vw;
        max-width: 250px;
        max-height: 250px;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        border-style: groove;
        border-color:pink;
    }

    .editIcon
    {
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: 640px)
        {
            font-size: 0.9em;
        }
        &:hover
        {
            cursor: pointer;
        }
    }

}
