img
{
    width: 30vw;
    height: 30vw;
    max-width: 250px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    border-style: groove;
    border-color:pink;
}