@import '~font-awesome/css/font-awesome.min.css';
@import '~font-awesome-animation/dist/font-awesome-animation.min.css';
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }