@import '~font-awesome/css/font-awesome.min.css';
@import '~font-awesome-animation/dist/font-awesome-animation.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .noselect 
  {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  li:focus {outline:0;}